<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.guerriclim.tutorialapp">
    <uses-permission android:name = "android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name = "android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.tutorialapp.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.tutorialapp.MyReceiver">
            <intent-filter>
                <action android:name="com.tutorialapp.CUSTOM_INTENT"></action>
            </intent-filter>
        </receiver>

        <service android:name="com.tutorialapp.MyService" />

        <provider android:name="com.tutorialapp.StudentsProvider"
            android:authorities="com.tutorialapp.StudentsProvider"/>

        <activity android:name="com.tutorialapp.NotificationView"
            android:label="Details of notification"
            android:parentActivityName="com.tutorialapp.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tutorialapp.MainActivity"/>
        </activity>
    </application>

</manifest>